@page "/clients"
@using Kora.Shared.Models
@inject IClientService ClientService
@inject ICompteService CompteService

<h3 class="mb-5"><strong>Liste des Clients</strong></h3>

@if (clients is null)
{
    <p>Loading...</p>
}
else if (clients.Count == 0)
{
    <p>No Clients available</p>
}
else
{

    <table class="m-0 table table-hover table-striped table-bordered bg-light fs-6">
        <thead class="table-light">
        <th class="text-center">Identifiant</th>
        <th class="text-center">Nom Complet</th>
        <th class="text-center">Téléphone</th>
        </thead>
        <tbody>
        @foreach (var client in clients)
        {
            <tr>
                <td class="text-center">@client.IdClient</td>
                <td class="text-center">@client.Username</td>
                <td class="text-center">@client.Tel</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private List<Client> clients = new List<Client>();
    private List<Compte> comptes = new List<Compte>();

    protected override async Task OnInitializedAsync()
    {
        comptes = await CompteService.GetAllComptes();
        clients = await ClientService.GetAllClient();
    }

}