@page "/clients"
@using Kora.Client.Services
@using Kora.Shared.ModelsDto
@inject IClientService ClientService

<h3>Liste des Clients</h3>

@if (clients is null)
{
    <p>Loading...</p>
}

<table>
    <thead>
    <th>Nom & Prénoms</th>
    <th>Téléphone</th>
    </thead>
    <tbody>
    @foreach (var client in clients)
    {
        <tr>
            <td>@client.Username</td>
            <td>@client.Tel</td>
        </tr>
    }
    </tbody>
</table>


@code {
    
    private List<ClientDto> clients;

    protected override async Task OnInitializedAsync()
    {
        clients = await ClientService.GetAllClient();
    }

}