@page "/clients"
@using Kora.Client.Services
@using Kora.Shared.ModelsDto
@inject IClientService ClientService
@inject ICompteService CompteService

<h3 class="mb-5">Liste des Clients</h3>

@if (clients is null)
{
    <p>Loading...</p>
}

<table class="table table-striped table-bordered bg-light fs-6">
    <thead>
    <th>NOMS D'UTILISATEURS</th>
    <th>TELEPHONES</th>
    </thead>
    <tbody>
    @foreach (var client in clients)
    {
        <tr>
            <td>@client.Username</td>
            <td>@client.Tel</td>
        </tr>
    }
    </tbody>
</table>


@code {

    private List<ClientDto> clients = new List<ClientDto>();
    private int compteCount;

    protected override async Task OnInitializedAsync()
    {
        clients = await ClientService.GetAllClient();
    }

}