@layout LoginLayout
@page "/"
@page "/login"
@using Kora.Shared.Models
@using System.Text.Json
@using System.Text.Json.Serialization
@using Newtonsoft.Json
@inject HttpClient HttpClient
@inject IAdministrateurService AdministrateurService
@inject NavigationManager Navigation

<style>
    .bg-image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url('argent.jpg');
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        min-height: 100%;
    }
    .form{
        margin: 30px;
        border: none;
    }
    .monB{
        background-color: #06483e;
        padding: 8px;
        border-radius: 5px;
         color: white;
         height: 50px;
         border: none;
         }
    .monB:hover{
        color: white;
        background-color:  #0e6b5d;
        }
</style>

<div class="container-fluid bg-image">
    <div class="row justify-content-center">
        <div class="col-md-4 shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-top: 100px">
            <div class="card form">
                <div class="card-header h-25" style="background-color: #06483e">
                    <h4 class="card-title fw-bold text-center pt-3 text text-white">KORA-TRANSFERT</h4>
                </div>
                <div class="card-body">
                    @if (showError)
                    {
                        <div class="alert alert-danger" role="alert">
                            <p class="text-center">Veuillez vérifiez les informations fournies</p>
                        </div>
                    }
                    <form @onsubmit="HandleSubmit">
                        <div class="mb-3">
                            <label for="username" class="form-label">Email</label>
                            <input type="text" class="form-control" id="username" @bind="admin.Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="tel" @bind="admin.Password" required>
                        </div>
                        <button type="submit" class="monB text-center mb-2 w-100 btn btn-info">Se connecter</button>
                        <div class="text-center mt-2">
                            <a href="/sign">M'enregistrer</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    private Administrateur admin = new Administrateur();
    private bool showError = false;

    private async Task HandleSubmit()
    {
        try
        {
            // Envoyer le client enregistré à l'API via une requête POST
            var response = await AdministrateurService.ConnecterAdmin(admin.Email, admin.Password);

            // Vérifier si la requête a réussi
            if (response.IsSuccessStatusCode)
            {
                string profilename = await response.Content.ReadAsStringAsync();
                loggedInProfileName = profilename;
                Navigation.NavigateTo("/dashboard");
            }
            else
            {
                showError = true;
            }
        }
        catch (Exception ex)
        {
            Console.WriteLine("Exception: " + ex.Message);
        }
    }
}
