@layout SignLayout
@page "/sign"
@using Kora.Shared.Models
@inject IAdministrateurService AdministrateurService
@inject NavigationManager Navigation

<style>
    .bg-image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url('argent.jpg');
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        min-height: 100%;
    }
    .form{
        margin: 30px;
        border: none;
    }
    .monB{
    background-color: #06483e;
    padding: 8px;
    border-radius: 5px;
     color: white;
     border: none;
     height: 50px;
    }
    .monB:hover{
    background-color:  #0e6b5d;
    }
</style>

<div class="container-fluid bg-image">
    <div class="row justify-content-center">
        <div class="col-md-4 shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-top: 100px">
            <div class="card form">
                <div class="card-header h-25" style="background-color: #06483e">
                    <h4 class="card-title fw-bold text-center pt-3 text text-white">KORA-TRANSFERT</h4>
                </div>
                <div class="card-body">
                    <form @onsubmit="HandleSubmit">
                        @if (showError)
                        {
                            <div class="alert alert-danger" role="alert">
                                <p class="text-center">Veuillez vérifiez les informations fournies</p>
                            </div>
                        }
                        <div class="mb-3">
                            <label for="username" class="form-label">Nom Complet</label>
                            <input type="text" class="form-control" @bind="@admin.Username"/>
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" @bind="@admin.Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="tel" @bind="@admin.Password" required>
                        </div>
                        <button type="submit" class="monB text-center mb-2 w-100">S'enregistrer</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private Administrateur admin = new Administrateur();
    
    private bool showError = false;

    private async Task HandleSubmit()
    {
        var response = await AdministrateurService.EnregistrerAdminSaved(admin.Username, admin.Email, admin.Password);
        
        if (response)
        {
            Navigation.NavigateTo("/login");
        }
        else
        {
            showError = true;
        }

    }
}
