@layout SignLayout
@page "/sign"
@using Kora.Shared.Models
@inject HttpClient HttpClient
@inject IAdministrateurService AdministrateurService
@inject NavigationManager Navigation

<style>
    .bg-image {
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        background-image: url('argent.jpg');
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.5);
        height: 100vh;
        min-height: 100%;
    }
    .form{
        margin: 30px;
        border: none;
    }
</style>

<div class="container-fluid bg-image">
    <div class="row justify-content-center">
        <div class="col-md-4 shadow p-3 mb-5 bg-body-tertiary rounded" style="margin-top: 100px">
            <div class="card form">
                <div class="card-header h-25" style="background-color: #4b4a2a">
                    <h4 class="card-title fw-bold text-center pt-3 text text-white">ENREGISTREZ-VOUS !</h4>
                </div>
                <div class="card-body">
                    @if (showError)
                    {
                        <div class="alert alert-danger" role="alert">
                            <p class="text-center">Mot de Passe déjà utilisé</p>
                        </div>
                    }
                    <form @onsubmit="HandleSubmit">
                        <div class="mb-3">
                            <label for="username" class="form-label">Nom d'utilisateur</label>
                            <input type="text" class="form-control" id="username" @bind="admin.Username" required>
                        </div>
                        <div class="mb-3">
                            <label for="username" class="form-label">Email</label>
                            <input type="email" class="form-control" id="email" @bind="admin.Email" required>
                        </div>
                        <div class="mb-3">
                            <label for="tel" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="tel" @bind="admin.Password" required>
                        </div>
                        <button type="submit" class="text-center w-100 btn btn-primary">M'Enregistrer</button>
                        <div class="row text-center" style="margin-top: 10px">
                            <h6 class="">J'ai déjà un compte. <a style="margin-left: 25px" href="/login" class="text-center">Me connecter</a></h6>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@code {

    private Administrateur admin = new Administrateur();
    private bool showError = false;

    private async Task HandleSubmit()
    {
        try
        {
            var response = await AdministrateurService.EnregistrerAdmin(admin);
            if (response)
            {
                Navigation.NavigateTo("/login");
            }

        }
        catch (Exception e)
        {
            Console.WriteLine(e);
            throw;
        }
        
    }
}