@page "/transactions"
@using Kora.Shared.ModelsDto
@inject ITransactionService TransactionService


<h3>Liste des <strong>Transactions</strong></h3>

<br/>

<table class="table table-striped table-bordered bg-light fs-6">
    <thead class="table-light">
    <th>N&deg</th>
    <th>Solde</th>
    <th>Date</th>
    <th>Type de Transaction</th>
    <th>Identifiant du Compte</th>
    </thead>
    <tbody>
    @foreach (var transaction in transactions)
    {
        <tr>
            <td>@transaction.IdTransaction</td>
            <td>@transaction.Solde</td>
            <td>@transaction.Type</td>
            <td>@transaction.IdCompte</td>
            <td></td>
        </tr>
    }
    </tbody>
</table>


@code {
    private List<TransactionDto> transactions = new List<TransactionDto>();
    
    
    protected override async Task OnInitializedAsync()
    {
        transactions = await TransactionService.GetAllTransaction();
    }

}
