@using Kora.Shared.Models
@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>
    <main>
        <div class="top-row px-4">
            <p>
                <strong style="color: green">1000 FCFA</strong> EQUIVAUT À <strong style="color: mediumpurple">1 KORA</strong>
            </p>
        </div>
        
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    


}


